header, footer, nav, article, figure, figcaption {
  display: block;
}

Body {
  color: blue;
  background-color: white;
  background-position: center;
  font-family: arial;
  line-height: 1.4em;
  margin: 0px;
}

header {
    height: 160px;
    text-align: center;
}

nav li {
    display: inline;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height:220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
}

figcaption {
    text-align: center;
}

article {
    float: left;
    clear: both;
    overflow: auto;
    width: 659px;
}