header, footer, nav, article, figure, figcaption {
  display: block;
}

Body {
  color: black;
  background-color: white;
  background-position: center;
  font-family: times;
  line-height: 1.4em;
  margin: 0px;
}

header {
    height: 100px;
    text-align: center;
    border: 1px solid black;
    font-family: arial;
    background-color: lightgrey;
}

nav li {
    display: inline;
    padding: 0px 55px 0px 15px;
    border: 1px solid black;
    background-color: grey;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height:220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
}

figcaption {
    text-align: center;
}

article {
    float: left;
    clear: both;
    overflow: auto;
    width: 679px;
    border: 1px solid black;
}

footer {
    padding: 550px 0px 0px 100px
}